<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.learn.test"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/grafika"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="org.learn.test.ndkgl.NDKGLActivity"/>

        <activity android:name="org.learn.test.mediadump.RgbPlayerActivity"/>
        <activity android:name="org.learn.test.mediadump.VideoDumpActivity"/>



        <activity android:name="org.learn.test.grafika.GrafikaMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="org.learn.test.grafika.PlayMovieActivity"
                  android:label="@string/title_activity_play_movie"/>
        <activity android:name="org.learn.test.grafika.ContinuousCaptureActivity"
                  android:label="@string/title_activity_continuous_capture"/>
        <activity android:name="org.learn.test.grafika.DoubleDecodeActivity"
                  android:label="@string/title_activity_double_decode"
                  android:screenOrientation="sensor"/>


    </application>


</manifest>